# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#
*.sqlite3
db.sqlite3

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Large files and directories
google-cloud-sdk/
google-cloud-sdk-*.tar.gz

# Media and static files
media/
staticfiles/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo
